<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hrapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HRapp">
        <activity android:name=".AfterSignin"></activity>
        <activity android:name=".cm_fund_web" />
        <activity android:name=".pm_fund_web" />
        <activity android:name=".fund_care" />
        <activity android:name=".UserRegistration" />
        <activity android:name=".e_pass_Activity" />
        <activity android:name=".country_cases" />
        <activity android:name=".vaccine_global" />
        <activity android:name=".self_assess" />
        <activity android:name=".user_bio" />
        <activity android:name=".bed_tamilnadu" />
        <activity android:name=".vaccine_india_covid" />
        <activity android:name=".info_covid" />
        <activity android:name=".state_helpline_num" />
        <activity android:name=".selectState" />
        <activity android:name=".statewiseReport" />
        <activity
            android:name=".Todaycases"
            android:parentActivityName=".bharathstats" />
        <activity
            android:name=".user_emergency"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bharathstats"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".stats"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>